<%= form_for(@guest) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :plus_one %><br>
    <%= f.number_field :plus_one %>
  </div>  
  <div class="field">
    <%= f.label :timeslot_id %><br>
    <%= f.collection_select(:timeslot_id, getTimeSlots, :id, :name) %>
  </div>
  <br>
  <div class="actions" style="display:inline-block; float:left;">
    <%= link_to 'Back', guests_path, class: "btn btn-default" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
