<%= render 'layouts/nav' %>

<div class="container">
	
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @timeslot.name %>
	</p>

	<%= link_to 'Edit', edit_timeslot_path(@timeslot), class: "btn btn-default" %>
	<%= link_to 'Back', timeslots_path, class: "btn btn-default" %>

</div>